.gameTitle-wrapper{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameTitle h1{
    margin: 0;
}
.gameState h2{
    margin: 0;
    white-space: nowrap;
}
.gameState-ghostGame{
    padding: 12px 8px;
    font-size: 20px;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    cursor: pointer;

    transition: background-color 0.3s ease;
}
.gameState-ghostGame:hover{
    color: #252525;
    background-color: #f5f5f5;
}
.gameState-ghostGame-active{
    font-size: 20px;
    text-decoration: underline;

    cursor: pointer;
}